Tugas 8 SDM.json
{
  "name": "Tugas 8 SDM",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2f9169bd-b992-4ff3-979c-a0d9c11bdd0a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kcGatPOW29YYB75LA9N49OFEtRmIB7hI74OudBExHmw",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kcGatPOW29YYB75LA9N49OFEtRmIB7hI74OudBExHmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kcGatPOW29YYB75LA9N49OFEtRmIB7hI74OudBExHmw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        0
      ],
      "id": "e325bc40-fdc2-494a-bec5-b60d2ceef39f",
      "name": "Mengambil Hasil Survei",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Ambil data item saat ini\nconst feedbackText = $json.feedback;\n\n// Jika feedback kosong\nif (!feedbackText) {\n  return null;\n}\n\n// Buat prompt untuk AI\nconst prompt = `\nAnalyze this employee feedback in Indonesian:\n\"${feedbackText}\"\n\nTasks:\n1. Determine sentiment (POSITIVE, NEUTRAL, NEGATIVE).\n2. Categorize the issue (e.g., Facility, Management, Salary, Workload, Training).\n3. Suggest a quick action (max 5 words).\n\nReturn ONLY valid JSON.\n\nFormat:\n{\n  \"sentiment\": \"...\",\n  \"category\": \"...\",\n  \"action_plan\": \"...\"\n}\n`;\n\n// Return item format n8n\nreturn {\n  json: {\n    employee_id: $json.employee_id,\n    feedback: feedbackText,\n    ai_prompt: prompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "2c3d9d9d-9097-4482-900e-45a107b03a51",
      "name": "menyiapkan Prompt"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kcGatPOW29YYB75LA9N49OFEtRmIB7hI74OudBExHmw",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kcGatPOW29YYB75LA9N49OFEtRmIB7hI74OudBExHmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kcGatPOW29YYB75LA9N49OFEtRmIB7hI74OudBExHmw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "employee_id": "={{ $('Mengambil Hasil Survei').item.json.employee_id }}",
            "feedback": "={{ $('Mengambil Hasil Survei').item.json.feedback }}",
            "timestamp": "={{ $('Mengambil Hasil Survei').item.json.timestamp }}",
            "sentiment": "={{ $('Basic LLM Chain1').item.json.output.sentiment }}",
            "category": "={{ $('Basic LLM Chain1').item.json.output.category }}",
            "action_plan": "={{ $('Basic LLM Chain1').item.json.output.action_plan }}"
          },
          "matchingColumns": [
            "employee_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_plan",
              "displayName": "action_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        16
      ],
      "id": "d2f485da-8b63-4c5f-b9dd-9ebb5e5afba8",
      "name": "Update Survei",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "c1188f53-34d7-458e-a2c4-b8f65e7bda1c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following employee feedback in Indonesian:\n\"{{ $json.feedback }}\"\n\nContext: You are a Senior HR Specialist.\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        944,
        16
      ],
      "id": "9e09777f-e81d-40cf-a351-f5bb0d8f252b",
      "name": "Basic LLM Chain1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"POSITIVE\",\n        \"NEUTRAL\",\n        \"NEGATIVE\"\n      ],\n      \"description\": \"The emotional tone of the feedback\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Facilities\",\n        \"Management\",\n        \"Salary\",\n        \"Workload\",\n        \"Training\",\n        \"Other\"\n      ],\n      \"description\": \"The main topic of the feedback\"\n    },\n    \"action_plan\": {\n      \"type\": \"string\",\n      \"description\": \"Short action recommendation in Indonesian\"\n    }\n  },\n  \"required\": [\n    \"sentiment\",\n    \"category\",\n    \"action_plan\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1056,
        240
      ],
      "id": "e045910c-07eb-4129-a4f4-0e034639f799",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        336
      ],
      "id": "b11a9059-b36d-495c-97d6-1e0cb630471b",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "XDO2pBW7TemIysIA",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Mengambil Hasil Survei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengambil Hasil Survei": {
      "main": [
        [
          {
            "node": "menyiapkan Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menyiapkan Prompt": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Update Survei",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "81a5aa02-57f3-4d9b-acd0-60e3e6b3083a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8029a7adbdc0dbd60336a80f6905c6c6343c6a279cd22aaad11890dcf0bf2ab"
  },
  "id": "XJAJgN2drmJnMRNJ",
  "tags": []
}