Tugas 6 SDM.json
{
  "name": "Tugas 6 SDM",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Berhasil! Pengajuan cuti telah disetujui. Saldo karyawan sudah dipotong otomatis.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        368,
        480
      ],
      "id": "25d8a671-429e-40e9-a5b6-b14201e1d16b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Konfirmasi: Pengajuan cuti telah berhasil DITOLAK. Tidak ada saldo yang dipotong.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -256,
        672
      ],
      "id": "fff71082-1c5e-4d69-8903-fc553f14ed15",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan PT Sinar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1805454620,
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit#gid=1805454620"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        480
      ],
      "id": "f4c30e82-ccbf-44d7-88cf-cd7c646d0702",
      "name": "Cuti Data Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil data dari Webhook (Node paling awal)\n// Kita butuh 'days' (jumlah hari cuti) yang dikirim lewat URL\nconst webhookData = $('Webhook').first().json.query;\nconst daysRequested = parseInt(webhookData.days);\n\n// 2. Ambil data dari Google Sheets (Node sebelumnya)\n// Kita butuh 'Saldo_Cuti' saat ini\nconst currentData = items[0].json;\nconst currentBalance = parseInt(currentData.Saldo_Cuti);\n\n// 3. Hitung Saldo Baru\nconst newBalance = currentBalance - daysRequested;\n\n// 4. Return data untuk update\nreturn [{\n  json: {\n    ...currentData, // Bawa semua data lama (termasuk row_number)\n    newBalance: newBalance\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        480
      ],
      "id": "5af0290e-9b77-4682-8024-b2cfb20ad2a3",
      "name": "Hitung Saldo Baru"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan PT Sinar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1805454620,
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit#gid=1805454620"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Saldo_Cuti": "={{ $json.newBalance }}",
            "Nama_Lengkap": "runnzze",
            "Manager_Email": "randyakurniawan@gmail.com"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama_Lengkap",
              "displayName": "Nama_Lengkap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo_Cuti",
              "displayName": "Saldo_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Manager_Email",
              "displayName": "Manager_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        480
      ],
      "id": "3d6758a8-8537-4e7f-8fd4-2a7c17691f7c",
      "name": "Update Saldo Cuti",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan PT Sinar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1805454620,
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit#gid=1805454620"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nama_Lengkap",
              "displayName": "Nama_Lengkap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saldo_Cuti",
              "displayName": "Saldo_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager_Email",
              "displayName": "Manager_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        480
      ],
      "id": "9b0688a2-08b4-42df-ab6c-06825caceadd",
      "name": "Update Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.query.email }}",
        "subject": "Status Pengajuan Cuti: DITOLAK",
        "message": "=Halo,\n\nMohon maaf, pengajuan cuti Anda untuk durasi {{ $('Webhook').item.json.query.days }} hari telah DITOLAK oleh Manager.\n\nSilakan hubungi atasan Anda untuk diskusi lebih lanjut.\n\nSalam,\nHR System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -464,
        672
      ],
      "id": "8386ac0d-a3b3-4c97-b06f-162147d78ec3",
      "name": "Cuti Ditolak",
      "webhookId": "7540b758-af77-4248-b6c8-23ce7d66326f",
      "credentials": {
        "gmailOAuth2": {
          "id": "r77wdgdWmfXg7Gao",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan PT Sinar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1805454620,
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit#gid=1805454620"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Rejected"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        672
      ],
      "id": "3fd95519-07f8-473c-b591-2d2423586ff4",
      "name": "Update Logs1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update Saldo Cuti').item.json.Email }}",
        "subject": "Pengajuan Cuti Disetujui",
        "message": "=Halo,\n\nKabar baik! Pengajuan cuti Anda telah DISETUJUI oleh Manager.\n\nDetail:\n- Durasi: {{ $('Webhook').item.json.query.days }} Hari\n- Status: APPROVED\n- Saldo Cuti: Telah dipotong otomatis.\n\nTerima kasih,\nHR System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        480
      ],
      "id": "4914ef0b-e183-4e85-808e-b12b90f0c007",
      "name": "Send a message2",
      "webhookId": "978f9a9b-5581-4c07-bc11-5e3c4b26359a",
      "credentials": {
        "gmailOAuth2": {
          "id": "r77wdgdWmfXg7Gao",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "path": "approvall-handler",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        576
      ],
      "id": "61148ec3-4d25-43af-be49-797545c2a37d",
      "name": "Webhook",
      "webhookId": "7d09841d-1380-46ec-86d5-90e3b3960877"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a48f157-a687-47a2-bdb3-bacce539610a",
              "leftValue": "={{ $json.query.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        576
      ],
      "id": "a96500d0-893e-49d4-82b5-487ca43af36f",
      "name": "If1"
    },
    {
      "parameters": {
        "formTitle": "Formulir Pengajuan Cuti",
        "formDescription": "Silahkan isi detail cuti Anda. Pastikan tanggal sesuai.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Karyawan",
              "requiredField": true
            },
            {
              "fieldLabel": "Jenis Cuti",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cuti Tahunan"
                  },
                  {
                    "option": "Cuti Sakit"
                  },
                  {
                    "option": "Cuti Tanpa Bayaran"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Mulai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Selesai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Alasan/Keterangan",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -992,
        192
      ],
      "id": "6e85e60f-c1a5-4af0-82f7-3f09d82f2484",
      "name": "On form submission2",
      "webhookId": "2bd9e9fa-1490-4e63-8ffb-e1513b104601"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan PT Sinar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 301786508,
          "mode": "list",
          "cachedResultName": "Log Pengajuan_karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit#gid=301786508"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $json['requestId'] }}",
            "Timestamp": "={{ $json['submittedAt'] }}",
            "Email_Karyawan": "={{ $json['Email Karyawan'] }}",
            "Jenis_Cuti": "={{ $json['Jenis Cuti'] }}",
            "Tanggal_Mulai": "={{ $json['Tanggal Mulai'] }}",
            "Tanggal_Selesai": "={{ $json['Tanggal Selesai'] }}",
            "Durasi": "={{ $json['durationRequested'] }}",
            "Alasan": "={{ $json['Alasan/Keterangan'] }}",
            "Status": "Pending"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        192
      ],
      "id": "d2f3b8d4-7708-44f2-a343-b8f22eda757c",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "38329587-91c0-4f25-bd77-c8dea0f6c1a0",
              "leftValue": "={{ $('Validasi Cuti2').item.json.isApprovedSystem }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        192
      ],
      "id": "5a169f7d-f3a8-41d0-8a37-12daa18598a3",
      "name": "If3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validasi Cuti2').item.json.Manager_Email }}",
        "subject": "Permohonan Cuti Baru (Butuh Persetujuan)",
        "message": "=<p>Halo Manager,</p>\n\n<p>Ada pengajuan cuti baru yang membutuhkan persetujuan Anda:</p>\n\n<ul>\n  <li><strong>Email Karyawan:</strong> {{ $json.Email_Karyawan }}</li>\n  <li><strong>Jenis Cuti:</strong> {{ $json.Jenis_Cuti }}</li>\n  <li><strong>Tanggal:</strong> {{ $json.Tanggal_Mulai }} s.d {{ $json.Tanggal_Selesai }}</li>\n  <li><strong>Total Durasi:</strong> {{ $json.Durasi }} Hari</li>\n  <li><strong>Alasan:</strong> {{ $json.Alasan }}</li>\n</ul>\n\n<p>Silakan klik keputusan Anda:</p>\n\n<p>\n  <a href=\"https://n8n-qrdp1s3abezq.jkt3.sumopod.my.id/webhook-test/approvall-handler?status=approved&email={{ $json.Email_Karyawan }}&days={{ $json.Durasi }}&id={{ $json.ID_Request }}\" \n     style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; margin-right: 15px; display: inline-block;\">\n     ✅ SETUJUI\n  </a>\n\n  <a href=\"https://n8n-qrdp1s3abezq.jkt3.sumopod.my.id/webhook-test/approvall-handler?status=rejected&email={{ $json.Email_Karyawan }}&days={{ $json.Durasi }}&id={{ $json.ID_Request }}\" \n     style=\"background-color: #f44336; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n     ❌ TOLAK\n  </a>\n</p>\n\n<p><small>Link ini menggunakan environment TEST. Pastikan n8n workflow 'Approval Handler' sedang aktif (Execute) saat diklik.</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        64,
        96
      ],
      "id": "f0113c53-6507-4aa0-b1ce-4e5847f70ef0",
      "name": "Send a message5",
      "webhookId": "511f23ec-c949-4db5-9db0-84577fb94b0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "r77wdgdWmfXg7Gao",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission2').item.json['Email Karyawan'] }}",
        "subject": "Pengajuan Cuti Ditolak - Saldo Tidak Cukup",
        "message": "=Halo {{ $('Validasi Cuti2').item.json.Nama_Lengkap }},\n\nPengajuan cuti Anda untuk tanggal {{ $('Validasi Cuti2').item.json['Tanggal Mulai'] }} s/d {{ $('Validasi Cuti2').item.json['Tanggal Selesai'] }} DITOLAK secara otomatis oleh sistem.\n\nAlasan: Sisa saldo cuti Anda ({{ $('Validasi Cuti2').item.json.Saldo_Cuti }} hari) tidak mencukupi untuk pengajuan {{ $('Validasi Cuti2').item.json.durationRequested }} hari.\n\nSalam,\nHR Bot",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        64,
        304
      ],
      "id": "fc0ef278-8144-49a9-8018-ac7524ac46b1",
      "name": "Send a message6",
      "webhookId": "511f23ec-c949-4db5-9db0-84577fb94b0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "r77wdgdWmfXg7Gao",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan PT Sinar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1805454620,
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WrkMupZ9byEnlvoMm2NYOFlaEnRcc7HO1eoMyfDstUc/edit#gid=1805454620"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json['Email Karyawan'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        192
      ],
      "id": "7af906d0-f884-4302-a7f0-e1af5c6b7db6",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6o8fINbIVATksCYl",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil Data dari Node Google Sheets (Input node ini)\nconst employeeData = items[0].json;\n\n// 2. Ambil Data dari Node Form (SINKRON dengan nama kanvas baru)\nconst formData = $('On form submission2').first().json;\n\n// 3. Proses Tanggal menggunakan Luxon\nconst start = DateTime.fromISO(formData[\"Tanggal Mulai\"]);\nconst end = DateTime.fromISO(formData[\"Tanggal Selesai\"]);\n\n// Hitung durasi (selisih hari + 1 agar inklusif)\nconst durationInDays = end.diff(start, 'days').days + 1;\n\n// 4. Logika Validasi Saldo\nconst currentBalance = parseInt(employeeData[\"Saldo_Cuti\"]) || 0;\nconst hasEnoughBalance = currentBalance >= durationInDays;\n\n// Generate ID Unik\nconst uniqueId = 'REQ-' + Date.now(); \n\nreturn [\n  {\n    json: {\n      ...employeeData,\n      ...formData,\n      durationRequested: durationInDays,\n      isApprovedSystem: hasEnoughBalance,\n      message: hasEnoughBalance ? \"Saldo Cukup\" : \"Saldo Tidak Cukup\",\n      requestId: uniqueId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        192
      ],
      "id": "2497922d-e1a4-47b6-9d79-811e7db4c8f9",
      "name": "Validasi Cuti2"
    }
  ],
  "pinData": {},
  "connections": {
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Update Logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti Data Karyawan": {
      "main": [
        [
          {
            "node": "Hitung Saldo Baru",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hitung Saldo Baru": {
      "main": [
        [
          {
            "node": "Update Saldo Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo Cuti": {
      "main": [
        [
          {
            "node": "Update Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti Ditolak": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Cuti Data Karyawan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti Ditolak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Validasi Cuti2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Cuti2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0b0bded6-6b0f-48c0-9077-982fcd2f5943",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8029a7adbdc0dbd60336a80f6905c6c6343c6a279cd22aaad11890dcf0bf2ab"
  },
  "id": "GwzMKPcOZaRgXUyS",
  "tags": []
}